    <style> * {
        margin: 0;
    }
    h2 {
        color: white;
    }
    body {
        background-color: #e8eef0 !important;
    }
    header {
        background-image: url("images/bg_header.png");
        background-size: 1366px 314px;
        height: 314px;
        position: relative;
    }
    ul {
        list-style: none;
    }
    ul li {
        float: left;
    }
    .coursetype {
        padding: 10px;
        width: 200px;
        background-color: black;
        z-index: 1;
        position: absolute;
        top: 120px;
        right: 510px;
    }
    .coursetype div:first-child {
        padding: 5px;
        background-color: #41b8d8;
        color: white;
    }
    .coursetype div {
        margin-top: 10px;
        padding: 5px;
        background-color: white;
    }
    .feature {
        border: 1px solid red;
        float: left;
    }
    .wrapper {
        width: 980px;
        border: 1px solid black;
        margin: 0 auto;
    }
    .trainer {
        background-color: #4a4a4a;
        padding: 20px;
        width: 372px;
        margin-left: 600px;
    }
    .trainer div {
        width: 350px;
    }
    .trainer div:not(:first-child) {
        margin-top: 20px;
    }
    .actionbuy {
        width: 400px;
        line-height: 84px;
        background-color: #25c253;
        text-align: center;
        clear: both;
        font-family: "Arial", "Times New Roman", Georgia, Serif;
        font-size: 40px;
        color: white;
        cursor: pointer;
        margin-left: 100px;
    }
    footer {
        background-image: url(images/footer.jpg);
        height: 377px;
    }
    /* account page css*/
    .intro {
        background-color: #41b8d8;
        color: white !important;
        padding-left: 20px;
    }
    .myaccount {
        background-color: #dde1e3;
    }
    .enterform {
        padding: 30px 0 30px 20px;
    }
    /* qa page css */
    .radiogroup {
        display: block;
    }
    /* footer css */
    #footer {
        margin: 60px;
        background-image: url("images/footer.JPG");
        background-size: cover;
        height: 377px;
        padding-bottom: relative;
        bottom: 0;
    }
    </style>